package layout

templ Base() {
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Strive - Your Personal Activity Tracker</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"></link>
    </head>
    <body>
      <header>
        <nav>
         <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/activities">Activities</a></li>
         </ul>
        </nav>
      </header>
      <main>
        { children... }        
      </main>
    </body>
  </html>
}
